*{                                  
    margin: 0;                      
    padding: 0;                   
    text-decoration: none;          
    box-sizing: border-box;         
    color: white;                   
    font-family: sans-serif;        
}                                   
body{
    background-color: #000000;
}
.header{
    display: flex;
    border: 5px solid white;
    height: 10vh;
    align-items: center;
    justify-content:space-evenly ;
    /* flex-direction:column; */
}
.header a{
    color: #d94645;
    font-size:2rem ;
}
.footer{
    height: 10vh;
    border:5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}
.footer p{
    color: #d94645;
    cursor: pointer;
}
.box{
    height:90vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.box1{
    height:80vh;
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
}
.box2{
    height:80vh;
    border-radius: 40px;
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column

}
.box1 img{
    height:40vh;
}

.box2 img{
    height:25vh;
}
#code{
    height:70vh;
}
.box1 h1{
    font-size: 4rem;
    color: #d94645;
    text-decoration:underline;
}
.box1 p{
    font-size: 2rem;
}
#b1{
    border: 5px solid #d94645;
    border-radius: 100px;
}