*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #000000;
}
.header{
    display: flex;
    border: 5px solid white;
    height: 10vh;
    align-items: center;
    justify-content:space-evenly ;
    /* flex-direction:column; */
}
.header a{
    color: #d94645;
    font-size:2rem ;
}
.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main p{
    font-size: 2rem;
}
#span1{
    color: #d94645;
    font-size: 2rem;
}
.footer{
    height: 10vh;
    border:5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}
.footer p{
    color: #d94645;
}
